<v-bottom-navigation v-if="$vuetify.breakpoint.xsOnly" app grow color="blue-grey darken-4" v-model="activeTab" background-color="white" shift class="elevation-10" style="border-top:1px solid #eee">
<v-btn><span class="font-weight-bold">Transfer</span><v-icon>mdi-transfer</v-icon></v-btn>
<v-btn><span class="font-weight-bold">H?y</span><v-icon>mdi-trash-can</v-icon></v-btn>
<v-btn><span class="font-weight-bold">Master</span><v-icon>mdi-database</v-icon></v-btn>
<v-btn><span class="font-weight-bold">AI</span><v-icon>mdi-robot</v-icon></v-btn>
<v-btn><span class="font-weight-bold">L?ch S?</span><v-icon>mdi-history</v-icon></v-btn>
</v-bottom-navigation>